<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Food and Recipes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Food and recipes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/search?query=all}">All recipes</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categories" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="categories">
                        <a class="dropdown-item" href="/categories">All categories</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" th:href="@{/search?category=breakfast}">Breakfast</a>
                        <a class="dropdown-item" th:href="@{/search?category=dinner}">Dinner</a>
                        <a class="dropdown-item" th:href="@{/search?category=dessert}">Desserts</a>
                        <a class="dropdown-item" th:href="@{/search?category=side}">Side dishes</a>
                        <a class="dropdown-item" th:href="@{/search?category=veganvegetarian}">Vegan & vegetarian</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="regions" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cuisine regions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="regions">
                        <a class="dropdown-item" href="/regions">All regions</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" th:href="@{/search?region=american}">American</a>
                        <a class="dropdown-item" th:href="@{/search?region=british}">British</a>
                        <a class="dropdown-item" th:href="@{/search?region=chinese}">Chinese</a>
                        <a class="dropdown-item" th:href="@{/search?region=french}">French</a>
                        <a class="dropdown-item" th:href="@{/search?region=greek}">Greek</a>
                        <a class="dropdown-item" th:href="@{/search?region=indian}">Indian</a>
                        <a class="dropdown-item" th:href="@{/search?region=italian}">Italian</a>
                        <a class="dropdown-item" th:href="@{/search?region=japanese}">Japanese</a>
                        <a class="dropdown-item" th:href="@{/search?region=mexican}">Mexican</a>
                    </div>
                </li>
                <li><form class="form-inline my-2 my-lg-0" th:action="@{/search}">
                    <input class="form-control mr-sm-2" type="text" th:name="query" placeholder="Search recipes" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form></li>
            </ul>
            <a class="nav-link navbar-text active" href="#">Account</a>
            <a class="nav-link navbar-text" href="/logout">Logout</a>

        </div>
    </div>
</nav>

<div class="container">
    <h3 class="d-inline">Hello: </h3>
    <h3 class="d-inline" th:text="${user.getUsername()}"></h3>
    <hr class="my-4">

    <h3 th:if="${!user.getFavourites().isEmpty()}">My favourite recipes:</h3>
        <div class="row row-cols-1 row-cols-md-3 mt-3">
            <div class="col mb-4"  th:each="recipe : ${user.getFavourites()}">
                <div class="card h-100">
                    <a th:href="@{|/recipe/${recipe.getId()}|}">
                        <img th:src="${recipe.getImageURL()}" class="card-img-top rounded" th:alt="${recipe.getTitle()}"></a>
                    <div class="card-body">
                        <a th:href="@{|/recipe/${recipe.getId()}|}">
                            <h6 class="card-title" th:text="${recipe.getTitle()}"></h6></a>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                        <span class="visually-hidden">Unlike</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>
<html>