<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Food and Recipes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">.basil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/search?query=all}">All recipes</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="categories" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="categories">
                        <a class="dropdown-item" href="/categories">All categories</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" th:href="@{/search?category=breakfast}">Breakfast</a>
                        <a class="dropdown-item" th:href="@{/search?category=dinner}">Dinner</a>
                        <a class="dropdown-item" th:href="@{/search?category=dessert}">Desserts</a>
                        <a class="dropdown-item" th:href="@{/search?category=side}">Side dishes</a>
                        <a class="dropdown-item" th:href="@{/search?category=veganvegetarian}">Vegan & vegetarian</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="regions" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cuisine regions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="regions">
                        <a class="dropdown-item" href="/regions">All regions</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" th:href="@{/search?region=american}">American</a>
                        <a class="dropdown-item" th:href="@{/search?region=british}">British</a>
                        <a class="dropdown-item" th:href="@{/search?region=chinese}">Chinese</a>
                        <a class="dropdown-item" th:href="@{/search?region=french}">French</a>
                        <a class="dropdown-item" th:href="@{/search?region=greek}">Greek</a>
                        <a class="dropdown-item" th:href="@{/search?region=indian}">Indian</a>
                        <a class="dropdown-item" th:href="@{/search?region=italian}">Italian</a>
                        <a class="dropdown-item" th:href="@{/search?region=japanese}">Japanese</a>
                        <a class="dropdown-item" th:href="@{/search?region=mexican}">Mexican</a>
                    </div>
                </li>
                <li><form class="form-inline my-2 my-lg-0" th:action="@{/search}">
                    <input class="form-control mr-sm-2" type="text" th:name="query" placeholder="Search recipes" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form></li>
            </ul>
            <a class="nav-link navbar-text" href="/account" th:if="${#authorization.expression('isAuthenticated()')}">My account</a>
            <a class="nav-link navbar-text" href="/logout" th:if="${#authorization.expression('isAuthenticated()')}">Logout</a>
            <a class="nav-link navbar-text" href="/register" th:unless="${#authorization.expression('isAuthenticated()')}">Register</a>
            <a class="nav-link navbar-text" href="/login" th:unless="${#authorization.expression('isAuthenticated()')}">Sign in</a>

        </div>
    </div>
</nav>

<div class="container">

    <div class="row row-cols-1 row-cols-md-3 mt-3">
        <div class="col mb-4">
            <div class="card h-100">
                <a th:href="@{/search?category=breakfast}">
                <img th:src="@{img/breakfast.jpg}" class="card-img-top" alt="Breakfast">
                <div class="card-body">
                    <h6 class="card-title">Breakfast</h6></a>
                    <p class="card-text">Find a new way to start your day</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <a th:href="@{/search?category=dinner}">
                <img th:src="@{img/dinner.jpg}" class="card-img-top" alt="Dinner">
                <div class="card-body">
                    <h6 class="card-title">Dinner</h6></a>
                    <p class="card-text">Share a perfect meal with someone special</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <a th:href="@{/search?category=dessert}">
                <img th:src="@{img/dessert.jpg}" class="card-img-top" alt="Dessert">
                <div class="card-body">
                    <h6 class="card-title">Desserts</h6></a>
                    <p class="card-text">Because everyone deserves some sweetness in their lives</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <a th:href="@{/search?category=side}">
                <img th:src="@{img/side.jpg}" class="card-img-top" alt="Side">
                <div class="card-body">
                    <h6 class="card-title">Side dishes</h6></a>
                    <p class="card-text">These appetizers will make your mouth water</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <a th:href="@{/search?category=veganvegetarian}">
                <img th:src="@{img/vegan.jpg}" class="card-img-top" alt="Side">
                <div class="card-body">
                    <h6 class="card-title">Vegan & vegetarian</h6></a>
                    <p class="card-text">Awesome ideas for plant-based dishes</p>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <h3>All categories:</h3>
    <div class="btn-group align-content-center" th:each="category : ${categories}">
        <a th:href="@{|/search?category=${category}|}">
    <button type="button" class="btn btn-outline-primary m-1" th:text="${category.toString().toLowerCase()}"></button></a>
    </div>

</div>
</body>
<html>