<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Food and Recipes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">.basil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/search?query=all}">All recipes</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categories" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="categories">
                        <a class="dropdown-item" href="/categories">All categories</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" th:href="@{/search?category=breakfast}">Breakfast</a>
                        <a class="dropdown-item" th:href="@{/search?category=dinner}">Dinner</a>
                        <a class="dropdown-item" th:href="@{/search?category=dessert}">Desserts</a>
                        <a class="dropdown-item" th:href="@{/search?category=side}">Side dishes</a>
                        <a class="dropdown-item" th:href="@{/search?category=veganvegetarian}">Vegan & vegetarian</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="regions" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cuisine regions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="regions">
                        <a class="dropdown-item" href="/regions">All regions</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" th:href="@{/search?region=american}">American</a>
                        <a class="dropdown-item" th:href="@{/search?region=british}">British</a>
                        <a class="dropdown-item" th:href="@{/search?region=chinese}">Chinese</a>
                        <a class="dropdown-item" th:href="@{/search?region=french}">French</a>
                        <a class="dropdown-item" th:href="@{/search?region=greek}">Greek</a>
                        <a class="dropdown-item" th:href="@{/search?region=indian}">Indian</a>
                        <a class="dropdown-item" th:href="@{/search?region=italian}">Italian</a>
                        <a class="dropdown-item" th:href="@{/search?region=japanese}">Japanese</a>
                        <a class="dropdown-item" th:href="@{/search?region=mexican}">Mexican</a>
                    </div>
                </li>
                <li><form class="form-inline my-2 my-lg-0" th:action="@{/search}">
                    <input class="form-control mr-sm-2" type="text" th:name="query" placeholder="Search recipes" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form></li>
            </ul>
            <a class="nav-link navbar-text" href="/account" th:if="${#authorization.expression('isAuthenticated()')}">My account</a>
            <a class="nav-link navbar-text" href="/logout" th:if="${#authorization.expression('isAuthenticated()')}">Logout</a>
            <a class="nav-link navbar-text" href="/register" th:unless="${#authorization.expression('isAuthenticated()')}">Register</a>
            <a class="nav-link navbar-text" href="/login" th:unless="${#authorization.expression('isAuthenticated()')}">Sign in</a>

        </div>
    </div>
</nav>

        <div class="container col-6">
            <img th:src="${recipe.getImageURL()}" style="object-fit: none; object-position: center; height: 385px; width: max-content;" class="img-fluid rounded mx-auto d-block" th:alt="${recipe.getTitle()}">
            <span class="font-weight-light" th:text="${recipe.getCategory().toString().toLowerCase()}"></span>
            <span class="font-weight-light" th:text="${recipe.getRegion().toString().toLowerCase()}"></span>
            <h3 class="display-4" th:text="${recipe.getTitle()}"></h3>

            <a th:if="${#authorization.expression('isAuthenticated()')}">
                <a th:if="${recipeLiked}" th:href="@{|/recipe/${recipe.getId()}/del|}">
                <button type="button" class="btn btn-outline-primary btn-sm" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                    <span class="visually-hidden">Unlike</span>
                </button></a>

                <a th:unless="${recipeLiked}" th:href="@{|/recipe/${recipe.getId()}/add|}">
                    <button type="button" class="btn btn-outline-primary btn-sm" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                        <span class="visually-hidden">Like</span>
                    </button></a>
                </a>

            <hr class="my-4">

<!--              Nutrients values-->
                <div class="row">
                    <div class="col">Serving:</div>
                    <div class="col">Energy:</div>
                    <div class="col">Protein:</div>
                    <div class="col">Fat:</div>
                    <div class="col">Carbohydrates:</div>
                    <div class="col">Fiber:</div>

                </div>
            <div class="row">
                <div class="col" th:text="${weight} + ' g'"></div>
                <div class="col" th:text="${kcal} + ' kcal'"></div>
                <div class="col" th:text="${protein} + ' g'"></div>
                <div class="col" th:text="${fat} + ' g'"></div>
                <div class="col" th:text="${carbs} + ' g'"></div>
                <div class="col" th:text="${fiber} + ' g'"></div>
            </div>
            <hr class="my-4">

<!--            Ingredients-->
            <div><h5>Ingredients:</h5></div>

            <ul class="list-unstyled" th:each="ingredientEntry : ${ingredients}">
                    <span th:text="${ingredientEntry.getKey().getName()} + ': '"></span>
                    <span th:text="${ingredientEntry.getValue()}"></span>
                    <span th:text="' ' + ${ingredientEntry.getKey().getWeightUnit()} + '(s)'"></span>
                </li>
            </ul>
            <hr class="my-4">

<!--            Instructions-->
            <div><h5>Instructions:</h5></div>
            <div  th:each="line : ${instructions}">
                <p th:text="${line} + '.'"></p>
            </div>
            <hr class="my-4">

<!--            Video-->
            <div class="d-flex justify-content-center">
            <iframe width="560" height="315" th:src="${youTubeURL}"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
</body>
<html>