<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Food and Recipes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Food and recipes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="#">All recipes</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categories" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="categories">
                        <a class="dropdown-item" href="/categories">All categories</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="#">Breakfast</a>
                        <a class="dropdown-item" href="#">Dinner</a>
                        <a class="dropdown-item" href="#">Desserts</a>
                        <a class="dropdown-item" href="#">Side dishes</a>
                        <a class="dropdown-item" href="#">Vegan & vegetarian</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="regions" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cuisine regions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="regions">
                        <a class="dropdown-item" href="/regions">All regions</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="#">American</a>
                        <a class="dropdown-item" href="#">British</a>
                        <a class="dropdown-item" href="#">Chinese</a>
                        <a class="dropdown-item" href="#">East European</a>
                        <a class="dropdown-item" href="#">French</a>
                        <a class="dropdown-item" href="#">Greek</a>
                        <a class="dropdown-item" href="#">Indian</a>
                        <a class="dropdown-item" href="#">Italian</a>
                        <a class="dropdown-item" href="#">Japanese</a>
                        <a class="dropdown-item" href="#">Mexican</a>
                    </div>
                </li>
                <li><form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search recipes" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form></li>
            </ul>
            <a class="nav-link navbar-text" href="#">Account</a>
            <a class="nav-link navbar-text" href="/logout">Logout</a>

        </div>
    </div>
</nav>

<div class="container">
    <h2>Search results for: </h2>


    <div class="row row-cols-1 row-cols-md-3 mt-3">

        <div class="col mb-4"  th:each="recipe : ${recipes}">
            <div class="card h-100">
                <img th:src="${recipe.getImageURL()}" class="card-img-top" th:alt="${recipe.getTitle()}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${recipe.getTitle()}"></h5>
                    <p class="card-text">Lorem ipsum</p>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<html>